.about-container {
    position: fixed;
    bottom: 0; /* Posiciona el cuadro de texto en la parte inferior */
    left: 0; /* Posiciona el cuadro de texto a la izquierda */
    right: 0; /* Posiciona el cuadro de texto a la derecha */
    border: 1px solid #000;
    padding: 1px;
    background-color: #d66107;
    text-align: center;


}

